version: "3.3"
services:
  app:
    image: node:14
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "5000:5000"
    depends_on:
      - db
    command: bash -c "npm ci --only=production  && npm start"


  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./pgdata:/var/lib/postgresql/data
      - ./recruitment_reserv.sql:/docker-entrypoint-initdb.d/data.sql
    ports:
      - 5432:5432
