version: "3.3"
services:
  app:
    image: node:14
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "5000:5000"
    networks:
      - backend
    depends_on:
      - db
    links:
      - db:db
    command: bash -c "npm ci --only=production  && npm start"


  db:
    restart: always
    image: postgres:15.2
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DB}
    volumes:
      - ./pgdata:/var/lib/postgresql/data
      - ./recruitment_reserv.sql:/docker-entrypoint-initdb.d/recruitment_reserv.sql
    ports:
      - ${DB_PORT}:5432
    networks:
      - backend


networks:
  backend:
    driver: 'bridge'